$bg-color: white;
$font-color: #1d1b1e;
$primary-color: #6750a40d;
$secondary-color: #e8def8;
$search-input: #49454f;
$search-bg: rgba(29, 27, 32, 0.08);
$weight500: 500;
$button-color: #6750a4;

$default-gap: 16px;
