* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.content_main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content_main .time {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.content_main .time .weekday {
  font-size: 20px;
  font-weight: 500;
}
.content_main .time .day-month {
  font-size: 15px;
}

.search form label {
  position: relative;
}
.search form label input#search_input {
  background-color: rgba(29, 27, 32, 0.08);
  color: #49454f;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 10px 0 10px 16px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}
.search form label input#search_input:focus {
  border: 0.5px solid #b38ee7;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.search form label #search_icon {
  position: absolute;
  right: 13px;
  top: 2px;
}

.paragraph_styles {
  font-size: 20px;
  font-weight: 500;
}

.statuses {
  display: flex;
  margin: 4px 0px;
}
.statuses .button_styles {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  border: 1px solid #79747e;
  padding: 10px 0px;
  cursor: pointer;
}
.statuses .button_styles:hover {
  background-color: #e8def8;
  box-shadow: 1px 2px 2px #e8def8;
}
.statuses .all {
  width: 100%;
  background-color: #e8def8;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.statuses .active {
  width: 100%;
}
.statuses .finished {
  width: 100%;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 4%;
  text-align: end;
}
.statuses .selected {
  background-color: #e8def8;
  position: relative;
}
.statuses .selected::before {
  content: "";
  background-image: url("../img/icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  left: 10px;
}
.statuses .selected:nth-child(1)::before {
  top: 12px;
  left: 30px;
}
.statuses .selected:nth-child(3)::before {
  top: 12px;
  left: 6px;
}

.list {
  border-radius: 1%;
  padding: 6px 3px;
  display: flex;
  flex-direction: column;
}
.list .list_style {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px 12px 10px 16px;
  border-radius: 16px;
  background-color: #e8def8;
  margin-bottom: 5px;
}
.list .checkbox_style {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #49454f;
  accent-color: #e8def8;
}
.list .todo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list .todo .when_todo {
  font-size: 14px;
}
.list .todo .what_todo {
  font-size: 16px;
}

.add_btn {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background-color: #e8def8;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
  align-self: flex-end;
  position: sticky;
  right: 16px;
  bottom: 16px;
  right: calc((100vw - 428px) / 2 + 11px);
  border: none;
}
.add_btn::before {
  content: "";
  background-image: url("../img/2.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add_btn:hover {
  box-shadow: 0px 4px 8px 3px #d0bcff;
}

.overwiev {
  background-color: rgba(0, 0, 0, 0.32);
  width: 100%;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  display: none;
}

.modal {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  /* position: fixed;
  bottom: -100%;
  transition: bottom 0.5s ease-in-out; */
  transform: translateY(100%);
  /* opacity: 0; */
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  display: none;
  z-index: 1000;
  max-width: 428px;
  margin: 0 auto;
}
.modal.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.modal .modal_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f7f2fa;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  padding: 0px 16px;
}
.modal .modal_content .swipe_indicator {
  width: 32px;
  height: 4px;
  border-radius: 100px;
  background: #79747e;
  margin: 0 auto;
  margin-top: 16px;
}
.modal .modal_content .modal_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal .modal_content .modal_form .about_input {
  padding: 16px 16px 16px 16px;
  color: #49454f;
  font-family: "Roboto Flex";
  line-height: 24px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  border: 1px solid #79747e;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.modal .modal_content .modal_form .about_input:focus {
  border: 1px solid #b38ee7;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.switch_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch_row .notforget {
  font-family: "Roboto Flex";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.switch_row .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch_row .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch_row .switch .round {
  padding: 14px;
}
.switch_row .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b38ee7;
  transition: 0.4s;
  border-radius: 24px;
}
.switch_row .switch .slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.switch_row .switch .slider.round::before {
  background-color: white;
}
.switch_row .switch input:checked + .slider {
  background-color: #6750a4;
}
.switch_row .switch input:checked + .slider::before {
  transform: translateX(20px);
  background-image: url("../img/icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.modal_form_btn {
  display: flex;
  justify-content: flex-end;
  align-items: row;
  gap: 8px;
  margin: 16px 0;
}
.modal_form_btn .btn_styles {
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 14px;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 50px;
  border: 1px solid #6750a4;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal_form_btn .modal_btn_first {
  background-color: #6750a4;
  color: #fff;
}
.modal_form_btn .modal_btn_first:hover {
  background-color: #6750a4;
}
.modal_form_btn .modal_btn_second {
  color: #6750a4;
  background-color: white;
}
.modal_form_btn .modal_btn_second:hover {
  background-color: rgb(244, 232, 243);
}
.modal_form_btn .btn_styles {
  padding: 12px 24px;
}

.error_message {
  height: 20px;
  font-size: 14px;
  color: red;
  text-align: center;
  margin-top: 4px;
}
.error_message.error_message2 {
  display: none;
}

.empty_message {
  color: #5a565d;
  padding: 20px;
  text-align: center;
}

.button_styles {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  border: 1px solid #79747e;
  padding: 10px 0;
  cursor: pointer;
}
.button_styles:hover {
  background-color: #e8def8;
  box-shadow: 1px 2px 2px #e8def8;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  background: linear-gradient(135deg, #cab1ed, #a1c4fd);
  color: #1d1b1e;
  font-size: clamp(14px, 2vw, 18px);
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 16px 16px;
  justify-content: space-between;
  max-width: 428px;
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (max-width: 425px) {
  .statuses .finished {
    text-align: end;
    padding-right: 1%;
  }
  .statuses .selected:nth-child(1)::before {
    left: 30px;
  }
  .statuses .selected:nth-child(3)::before {
    left: 6px;
  }
}
@media screen and (max-width: 376px) {
  .statuses .finished {
    padding-right: 1%;
  }
  .statuses .selected:nth-child(1)::before {
    left: 25px;
  }
  .statuses .selected:nth-child(2)::before {
    left: 9px;
  }
  .statuses .selected:nth-child(3)::before {
    left: 3px;
  }
}/*# sourceMappingURL=index.css.map */